<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>User page</title>
</head>
<body>
<nav class="navbar flex-md-nowrap p-0 shadow navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" th:text="${username}"></a>
        <div class="ml-0" th:if="${roles.contains('ROLE_USER')} or ${roles.contains('ROLE_ADMIN')} ">
            <span class="navbar-brand text-left" th:text="' with roles: ' + (${roles.contains('ROLE_USER')} ? 'USER ':'')  + (${roles.contains('ROLE_ADMIN')} ? 'ADMIN ':'')"></span>
        </div>
        <form class="navbar-nav ml-auto" id="myLogout" action="/logout" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <a class="nav-link" type="button" onclick="document.getElementById('myLogout').submit();">Logout</a>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-white sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column nav-pills">
                    <li th:if="${roles.contains('ROLE_ADMIN')}" class="nav-item">
                        <a class="nav-link" th:href="@{/admin}">
                            Admin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">
                            User <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/index}">
                            Index
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Tabs or Pills can be used in a card with the help of .nav-{tabs|pills} and .card-header-{tabs|pills} classes -->

        <div class="col-md-10 ml-sm-auto pt-3 px-4 bg-light">
            <h1 class="text-left mt-12">User information-page</h1>
            <div class="bd-example bd-example-tabs">
                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade table-bordered show active" id="nav-allUsers" role="tabpanel" aria-labelledby="nav-allUsers-tab">
                        <h3 class="pl-lg-4 tabpanel mt-6" style="margin-top: 10px; margin-bottom: 10px;">About user</h3>
                        <div class="mt-3 bg-white table-bordered">
                            <br>
                            <div class="col-md-12">
                                <table class="table table-borderless table-striped bg-white">
                                    <thead class="table-bordered">
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:object="${userModel}">
                                        <td th:text="*{id}"></td>
                                        <td th:text="*{name}"></td>
                                        <td th:text="*{lastName}"></td>
                                        <td th:text="*{age}"></td>
                                        <td th:text="*{email}"></td>
                                        <td>
                                            <span th:each="role : ${availableRoles}" class="role-item">
                                                <label th:if="${userModel.roles.contains(role.name)}"><span th:text="${role.name.substring(5)}+' '"></span></label>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->

<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>
</html>